@model LuanVan.Models.DONGSANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Dòng sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSP_MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSP_MOTA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.DSP_ID }) |
    @Html.ActionLink("Về trang danh sách", "Index")
</p>
