@model IEnumerable<LuanVan.Models.DONGSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

@using (Html.BeginForm("Index", "DongSanPhams", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSP_MOTA)
        </th>
        <th>tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DSP_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSP_MOTA)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.DSP_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.DSP_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.DSP_ID })
            </td>
        </tr>
    }

</table>
