@model IEnumerable<LuanVan.Models.DONGSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DSP_MOTA)
        </th>
        <th>tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DSP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DSP_MOTA)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.DSP_ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.DSP_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.DSP_ID })
        </td>
    </tr>
}

</table>
