@model IPagedList<LuanVan.Models.SANPHAM>

@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
}

<br />

@using (Html.BeginForm("Index", "SanPhams", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    <button class="btn btn-success">@Html.ActionLink("Thêm sản phẩm", "Create")</button> 
</p>
<table class="table table1">
    <tr>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("Mã chi tiết")
        </th>
        <th>
            @Html.DisplayName("Giá")
        </th>
        <th>
            @Html.DisplayName("Khuyến mãi")
        </th>
        <th>
            @Html.DisplayName("Nhà sản xuất")
        </th>
        
        <th>
            @Html.DisplayName("Tên sản phẩm")
        </th>
        <th>
            @Html.DisplayName("Trạng thái")
        </th>

        <th>Hình ảnh</th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SP_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHITIETSANPHAM.CTSP_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIASP.GIA_GIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHUYENMAI.KM_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NHASANXUAT.NSX_TEN)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.SP_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SP_TRANGTHAI)
            </td>

            <td>
                <asp:Repeater runat="server" id="myRepeater">
                    <ItemTemplate>
                        <img src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="" width="200" height="200" style="float:left" />
                    </ItemTemplate>
                </asp:Repeater>
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.SP_ID }) |
                <a href="~/CHITIETSANPHAMs/Details/@item.CTSP_ID">Chi tiết</a> |

                @Html.ActionLink("Xóa", "Delete", new { id = item.SP_ID })

            </td>
        </tr>
    }

</table>
<div class="col-md-12 text-center">
    @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang }))
</div>