@model IEnumerable<LuanVan.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DONGSANPHAM.DSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIASP.GIA_GIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHUYENMAI.KM_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHASANXUAT.NSX_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHOMSANPHAM.NSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP_TRANGTHAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP_MOTANGAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SP_MOTACHITIET)
        </th>
        <th>Hình ảnh</th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DONGSANPHAM.DSP_TEN)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.CTSP_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIASP.GIA_GIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHUYENMAI.KM_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHASANXUAT.NSX_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHOMSANPHAM.NSP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_TRANGTHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_MOTANGAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SP_MOTACHITIET)
        </td>
        <td>
            <asp:Repeater runat="server" id="myRepeater">
                <ItemTemplate>
                    <img src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="" width="300" height="300" style="float:left" />
                </ItemTemplate>
            </asp:Repeater>
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.SP_ID }) |
            <a href="~/CHITIETSANPHAMs/Details/@item.CTSP_ID">Chi tiết</a> |

            @Html.ActionLink("Xóa", "Delete", new { id = item.SP_ID })
            <a class="btn btn-success btn-sm" href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = Url.RequestContext.RouteData.Values["id"] })"> <span class="glyphicon glyphicon-shopping-cart"></span>  Thêm vào giỏ </a>
        </td>
    </tr>
}

</table>
