
@{
    ViewBag.Title = "ViewSP";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPHA = new LuanVan.Controllers.CHITIETSANPHAMsController();
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                   
                </div>
            </div>
        </div>
    </div>
</div>



<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="latest-product">
                    @foreach (var item in Model)
                    { <marquee direction="right" style="background: #0094ff" id="little"><h5 class="clip-text clip-text_fourteen clip-text--cover">@item.NSX_TEN</h5></marquee>
                        <div class="product-carousel">

                            @foreach (var ii in ViewData[item.NSX_TEN])
                            {
                                foreach (var i in ViewData[ii])
                                {
                                <div class="single-product">
                                    <div class="product-f-image">

                                        <asp:Repeater runat="server" id="myRepeater">
                                            <ItemTemplate>
                                                <img src="/HinhAnhSPs/getImage/@i.CTSP_ID" alt="Hình sản phẩm" />
                                            </ItemTemplate>
                                        </asp:Repeater>
                                        <div class="product-hover">
                                            @if (sANPHAMs.KTKho(i.CTSP_ID) == 0)
                                            {
                                                <h4 class="text-danger">Hết hàng</h4>

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(i.CTSP_ID) })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                            }

                                            <a href="~/ChiTietSanPhams/Details/@i.CTSP_ID" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                        </div>
                                    </div>



                                    <h2><a href="single-product.html">@i.CTSP_TEN</a></h2>

                                    <div class="product-carousel-price">

                                        <ins>@cHITIETSANPHA.GetGia(i.CTSP_ID).ToString("###,###") VND</ins> Khuyến Mãi
                                    </div>

                                </div>
                                    }
                                }

                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>


@*@foreach (var i in ViewBag.nsx)
        {
            <h2>@i.NSX_TEN</h2>

            <div id="@i.NSX_TEN" class="">


                <script type="text/javascript">
    $.ajax({
        type: "GET",
        url: '/SanPhams/PrintProductByProducer/@i.NSX_ID',
        success: function (result) {
            $('#@i.NSX_TEN').html(result)
        }
    })
                </script>
            </div>


        }*@






@*<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-6 col-sm-6  colorViewSP1">
                    <div class="single-shop-product  colorViewSP2">
                        <div class="product-upper">
                            <asp:Repeater runat="server" id="myRepeater">
                                <ItemTemplate>
                                    <img class="product-thumbViewSP" src="/HinhAnhSPs/getImage/@i.CTSP_ID" alt="Hình sản phẩm" />
                                </ItemTemplate>
                            </asp:Repeater>
                        </div>
                        <h2><a href="">@i.CTSP_TEN</a></h2>
                        <div class="product-carousel-price">
                            <ins>@cHITIETSANPHA.GetGia(i.CTSP_ID).ToString("###,###")</ins>
                        </div>
                        @cHITIETSANPHA.GetSP_ID(i.CTSP_ID)
                        <div class="product-option-shop">
                            @if (sANPHAMs.KTKho(i.CTSP_ID) == 0)
                            {
                                <h4 class="text-danger">Hết hàng</h4>

                            }
                            else
                            {
                                <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(i.CTSP_ID) })" class="add_to_cart_button"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            }

                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

