@using LuanVan.Models;
@{
    DataContext db = new DataContext();
    ViewBag.Title = "ViewSP";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPHA = new LuanVan.Controllers.CHITIETSANPHAMsController();
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                </div>
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("ViewSP", "SanPhams", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="latest-product">
                    <h4 class="text-center">
                        <span class="clip-text clip-text_fourteen clip-text--cover text-center">Khung tìm kiếm</span>
                    </h4>
                    <div class="product-carousel">
                        @foreach (var i in Model)
                        {
                            string id = i.CTSP_ID;
                            //string id = db.Database.SqlQuery<string>("select top(1) CTSP_ID from SanPham where KM_ID ='" + km_id + "'").SingleOrDefault();
                            List<SANPHAM> SP = (from p in db.SANPHAMs where p.CTSP_ID == id && p.SP_TRANGTHAI == 1 select p).Take(1).ToList();
                            foreach (var item in SP)
                            {


                                <div class="single-product">
                                    <div class="product-f-image">
                                        <asp:Repeater runat="server" id="myRepeater">
                                            <ItemTemplate>
                                                <img src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="Hình sản phẩm" />
                                            </ItemTemplate>
                                        </asp:Repeater>
                                        <div class="product-hover">
                                            @if (item.SP_TRANGTHAI == 0)
                                            {
                                                <h4 class="text-danger">Hết hàng</h4>

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(item.CTSP_ID) })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                            }

                                            <a href="~/ChiTietSanPhams/Details/@item.CTSP_ID" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                        </div>
                                    </div>


                                    <h2><a href="single-product.html">@i.CTSP_TEN</a></h2>

                                    <div class="product-carousel-price">
                                        @{
                                            float newprice;
                                            if (item.KHUYENMAI.KM_GIATRI != 0 && item.KHUYENMAI.KM_NGAYKETTHUC >= DateTime.Now)
                                            {
                                                float giamgia = cHITIETSANPHA.GetGia(item.CTSP_ID) * Convert.ToSingle(item.KHUYENMAI.KM_GIATRI);
                                                newprice = cHITIETSANPHA.GetGia(item.CTSP_ID) - giamgia;
                                                <ins>@newprice.ToString("###,###") VND</ins><del>@cHITIETSANPHA.GetGia(item.CTSP_ID).ToString("###,###") VND</del> <h4>Khuyến Mãi: @item.KHUYENMAI.KM_TEN</h4>
                                            }
                                            else
                                            {
                                                <ins>@cHITIETSANPHA.GetGia(item.CTSP_ID).ToString("###,###") VND</ins>
                                            }

                                        }


                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @foreach (var item in ViewBag.nsx)
                    {
                        <div class="text-center"> <span class="clip-text clip-text_fourteen clip-text--cover">@item.NSX_TEN</span></div>
                        <div class="product-carousel">

                            @foreach (var ii in ViewData[item.NSX_TEN])
                            {
                                foreach (var i in ViewData[ii])
                                {
                                    <div class="single-product">
                                        <div class="product-f-image">

                                            <asp:Repeater runat="server" id="myRepeater">
                                                <ItemTemplate>
                                                    <img src="/HinhAnhSPs/getImage/@i.CTSP_ID" alt="Hình sản phẩm" />
                                                </ItemTemplate>
                                            </asp:Repeater>
                                            <div class="product-hover">
                                                @if (sANPHAMs.KTKho(i.CTSP_ID) == 0)
                                                {
                                                    <h4 class="text-danger">Hết hàng</h4>

                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(i.CTSP_ID) })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                                }

                                                <a href="~/ChiTietSanPhams/Details/@i.CTSP_ID" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                            </div>
                                        </div>



                                        <h2><a href="single-product.html">@i.CTSP_TEN</a></h2>

                                        <div class="product-carousel-price">
                                            @{
                                                string ctsp_id = i.CTSP_ID;

                                                var km = (from p in db.SANPHAMs
                                                          where p.CTSP_ID == ctsp_id
                                                          select p).Take(1);
                                                foreach (var iii in km)
                                                {
                                                    float newprice;
                                                    if (iii.KHUYENMAI.KM_GIATRI != 0 && iii.KHUYENMAI.KM_NGAYKETTHUC >= DateTime.Now)
                                                    {
                                                        float giamgia = cHITIETSANPHA.GetGia(i.CTSP_ID) * Convert.ToSingle(iii.KHUYENMAI.KM_GIATRI);
                                                        newprice = cHITIETSANPHA.GetGia(i.CTSP_ID) - giamgia;
                                                        <ins> @newprice.ToString("###,###") VND </ins><del> @cHITIETSANPHA.GetGia(i.CTSP_ID).ToString("###,###") VND </del> <h4> Khuyến Mãi: @iii.KHUYENMAI.KM_TEN </h4>
                                                    }
                                                    else
                                                    {
                                                        <ins> @cHITIETSANPHA.GetGia(i.CTSP_ID).ToString("###,###") VND </ins>
                                                    }
                                                }
                                            }

                                        </div>


                                    </div>
                                }
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@*@foreach (var i in ViewBag.nsx)
        {
            <h2>@i.NSX_TEN</h2>

            <div id="@i.NSX_TEN" class="">


                <script type="text/javascript">
    $.ajax({
        type: "GET",
        url: '/SanPhams/PrintProductByProducer/@i.NSX_ID',
        success: function (result) {
            $('#@i.NSX_TEN').html(result)
        }
    })
                </script>
            </div>


        }*@






@*<div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                @foreach (var i in Model)
                {
                    <div class="col-md-6 col-sm-6  colorViewSP1">
                        <div class="single-shop-product  colorViewSP2">
                            <div class="product-upper">
                                <asp:Repeater runat="server" id="myRepeater">
                                    <ItemTemplate>
                                        <img class="product-thumbViewSP" src="/HinhAnhSPs/getImage/@i.CTSP_ID" alt="Hình sản phẩm" />
                                    </ItemTemplate>
                                </asp:Repeater>
                            </div>
                            <h2><a href="">@i.CTSP_TEN</a></h2>
                            <div class="product-carousel-price">
                                <ins>@cHITIETSANPHA.GetGia(i.CTSP_ID).ToString("###,###")</ins>
                            </div>
                            @cHITIETSANPHA.GetSP_ID(i.CTSP_ID)
                            <div class="product-option-shop">
                                @if (sANPHAMs.KTKho(i.CTSP_ID) == 0)
                                {
                                    <h4 class="text-danger">Hết hàng</h4>

                                }
                                else
                                {
                                    <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(i.CTSP_ID) })" class="add_to_cart_button"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                }

                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                            <nav>
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

