@using LuanVan.Models;
@{
    DataContext db = new DataContext();
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPH = new LuanVan.Controllers.CHITIETSANPHAMsController();
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Click me !</button>
    </div>
}

<h1 class="txtelegantshadow" style="background-color:#0094ff">Sản phẩm mới</h1>
<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            @foreach (var item in Model)
            {
                <li>
                    <div class="col-md-4 col-sm-4">

                        <asp:Repeater runat="server" id="myRepeater">
                            <ItemTemplate>
                                <img class="product-thumbSlider" src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="Hình sản phẩm" />
                            </ItemTemplate>
                        </asp:Repeater>

                    </div>
                    <div class="caption-group">
                        <h2 class="caption title">
                            <span class="primary"><strong>@item.CTSP_TEN</strong></span>
                            <br />
                            <span>Camera trước <strong>@item.CTSP_CAMERATRUOC</strong></span>
                            <br />
                            <span>Camera sau <strong>@item.CTSP_CAMERASAU</strong></span>
                            <br />
                            <ins><strong>@cHITIETSANPH.GetGia(item.CTSP_ID).ToString("###,###") VND</strong></ins>

                        </h2>

                        <a class="caption button-radius" href="~/ChiTietSanPhams/Details/@item.CTSP_ID"><span class="icon"></span>Xem ngay</a>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>Trả lại nếu lỗi</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Miễn phí vận chuyển</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Thanh toán an toàn</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Sản phẩm mới</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->



<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="latest-product">
                    <h2 class="section-title">
                        <span class="clip-text clip-text_fourteen clip-text--cover text-center">Khuyến mãi mới</span>
                    </h2>
                    <div class="product-carousel">
                        @foreach (var i in ViewBag.KM)
                        {
                            string km_id = i.KM_ID;
                            string id = db.Database.SqlQuery<string>("select top(1) CTSP_ID from SanPham where KM_ID ='" + km_id + "'").SingleOrDefault();
                            List<CHITIETSANPHAM> SP = (from p in db.CHITIETSANPHAMs where p.CTSP_ID == id select p).ToList();
                            foreach (var item in SP)
                            {


                                <div class="single-product">
                                    <div class="product-f-image">
                                        <asp:Repeater runat="server" id="myRepeater">
                                            <ItemTemplate>
                                                <img src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="Hình sản phẩm" />
                                            </ItemTemplate>
                                        </asp:Repeater>
                                        <div class="product-hover">
                                            @if (sANPHAMs.KTKho(item.CTSP_ID) == 0)
                                            {
                                                <h4 class="text-danger">Hết hàng</h4>

                                            }
                                            else
                                            {
                                                <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPH.GetSP_ID(item.CTSP_ID) })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                            }

                                            <a href="~/ChiTietSanPhams/Details/@item.CTSP_ID" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                        </div>
                                    </div>


                                    <h2><a href="single-product.html">@item.CTSP_TEN</a></h2>

                                    <div class="product-carousel-price">
                                        @{
                                            float newprice;
                                            if (i.KM_GIATRI > 1)
                                            {
                                                newprice = cHITIETSANPH.GetGia(item.CTSP_ID) / i.KM_GIATRI;
                                            }
                                            else
                                            {
                                                float giamgia = cHITIETSANPH.GetGia(item.CTSP_ID) * i.KM_GIATRI;
                                                newprice = cHITIETSANPH.GetGia(item.CTSP_ID) - giamgia;
                                            }

                                        }
                                        <ins>@newprice.ToString("###,###") VND</ins><del>@cHITIETSANPH.GetGia(item.CTSP_ID).ToString("###,###") VND</del> Khuyến Mãi : @i.KM_TEN
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="zigzag-bottom"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="brand-wrapper">
                <span class="clip-text clip-text_fourteen clip-text--cover text-center">Danh sách hãng</span>
                <div class="brand-list">
                    @foreach (var item in ViewBag.NSX)
                    {
                        <a class="btn btn-info" href="/SanPhams/SPbyNSX/@item.NSX_ID"><h3>@item.NSX_TEN</h3></a>
                        @*<button class="btn-link" id="@item.NSX_TEN" value="@item.NSX_ID"><h4>@item.NSX_TEN</h4></button>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var id = document.getElementById("@item.NSX_TEN")

                        $('#@item.NSX_TEN').click(function () {
                            alert(id.value)
                            alert("a")
                        $.ajax({
                            type: "GET",
                            url: '/SanPhams/SPbyNSX',
                            data: { 'id': id.value },
                            success: function (result) {
                                $('#SPbyNSX').html(result)
                            }
                        })
                    })
                    })
                </script>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End brands area -->
<div class="container" id="SPbyNSX"></div>
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <span class="clip-text clip-text_fourteen clip-text--cover text-center">Mua nhiều</span>
                    @*<a href="" class="wid-view-more">View All</a>*@
                    @*@foreach (var item in ViewBag.Top)*@
                    @for (int i = 1; i <= 3; i++)
                    {
                        string top = db.Database.SqlQuery<string>("select top " + i + " ctsp.CTSP_ID from ((ChitietSanPham ctsp inner join SanPham sp on sp.CTSP_ID = ctsp.CTSP_ID) inner join CHITIETDONHANG ctdn on sp.SP_ID = ctdn.SP_ID)inner join DONHANG dn on ctdn.DN_ID =dn.DN_ID where dn.TTDH_ID != 2  group by ctsp.CTSP_ID, ctsp.CTSP_TEN order by Count(ctsp.CTSP_ID) desc ").LastOrDefault();
                        int count = db.Database.SqlQuery<int>("select Count(ctsp.CTSP_ID) as count from ((ChitietSanPham ctsp inner join SanPham sp on sp.CTSP_ID = ctsp.CTSP_ID) inner join CHITIETDONHANG ctdn on sp.SP_ID = ctdn.SP_ID) inner join DonHang dn on ctdn.DN_ID = dn.DN_ID where ctsp.CTSP_ID = '" + top + "' and dn.TTDH_ID !=2").SingleOrDefault();
                        <div class="single-wid-product">
                            <a href="/ChiTietSanPhams/Details/@top">
                                <asp:Repeater runat="server" id="myRepeater">
                                    <ItemTemplate>
                                        <img class="product-thumb" src="/HinhAnhSPs/getImage/@top" alt="Hình sản phẩm" />
                                    </ItemTemplate>
                                </asp:Repeater>
                            </a>
                            <div class="single-wid-product">
                                <a href="/ChiTietSanPhams/Details/@top"><h2 class="" style="font-size:large">@cHITIETSANPH.GetCTSP_TEN(top)</h2></a>
                                <h2>Số lượng bán: @count</h2>

                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-wid-price">
                                @{
                                    List<SANPHAM> SP = (from p in db.SANPHAMs where p.CTSP_ID == top select p).Take(1).ToList();
                                }

                                @foreach (var item in SP)
                                {
                                    float newprice;
                                    if (item.KM_ID != "0")
                                    {
                                        float giamgia = cHITIETSANPH.GetGia(item.CTSP_ID) * Convert.ToInt64(item.KHUYENMAI.KM_GIATRI);
                                        newprice = cHITIETSANPH.GetGia(item.CTSP_ID) - giamgia;
                                        <ins>@newprice.ToString("###,###") VND</ins><del>@cHITIETSANPH.GetGia(item.CTSP_ID).ToString("###,###") VND</del>
                                    }
                                    else
                                    {
                                        <ins>@cHITIETSANPH.GetGia(item.CTSP_ID).ToString("###,###") VND</ins>
                                    }


                                }
                                <ins>@*$400.00*@</ins> @*<del>$425.00</del>*@
                            </div>
                        </div>

                    }
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title clip-text clip-text_fourteen clip-text--cover text-center">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony Smart Air Condtion</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-2.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>*@
            @*<div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title clip-text clip-text_fourteen clip-text--cover text-center">Top New</h2>
                   <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-3.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Apple new i phone 6</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-4.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Samsung gallaxy note 4</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/LayoutKH/img/product-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Sony playstation microsoft</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$400.00</ins> <del>$425.00</del>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div> <!-- End product widget area -->
