@model IEnumerable<LuanVan.Models.SANPHAM>
@using LuanVan.Models
@{
    DataContext db = new DataContext();
    ViewBag.Title = "SearchSP";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPH = new LuanVan.Controllers.CHITIETSANPHAMsController();
}

@{
    List<SoSanhSP> sosanh = Session["sosanh"] as List<SoSanhSP>;
    if (ViewBag.sosanh != null && ViewBag.sosanh.Count >= 1)
    {

        <script type="text/javascript">
            $.ajax({
                type: "GET",
                url: '/Home/HienSoSanh/',
                data: {'id': "@sosanh[0].SP_ID"},
                    success: function (result) {
                        $('#doi1').html(result)
                    }
                })
        </script>
    }
    if (ViewBag.sosanh != null && ViewBag.sosanh.Count == 2)
    {

        <script type="text/javascript">
            $.ajax({
                type: "GET",
                url: '/Home/HienSoSanh/',
                data: {'id': "@sosanh[1].SP_ID"},
                    success: function (result) {
                        $('#doi2').html(result)
                    }
                })
        </script>
    }
}
        <div class="container">
            <div class="row text-center"><h3>So Sánh</h3></div>
            <div id="doi1" class="col-xs-5 col-md-5" style="margin-left:100px; background-color:#00ff21"></div>
            <div id="doi2" class="col-xs-5 col-md-5" style="background-color:#ffd800"></div>
        </div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <asp:Repeater runat="server" id="myRepeater">
                                <ItemTemplate>
                                    <img style="max-height:200px; max-width:200px" src="/HinhAnhSPs/getImage/@item.SP_ID" alt="Hình sản phẩm" />

                                </ItemTemplate>
                            </asp:Repeater>
                        </div>
                        <h2><a href="~/SanPhams/Details/@item.SP_ID">@item.SP_TEN</a></h2>
                        <div class="product-carousel-price">
                            <ins>@Convert.ToInt32(item.GIASP.GIA_GIA).ToString("###,###") VND</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="btn btn-info" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = item.SP_ID })"><li class="fa fa-shopping-cart"></li> Thêm vào giỏ</a>
                            <a class="btn btn-info" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("ThemSoSanh", "Home", new { SP_ID = item.SP_ID })"><li class="fa fa-compass"></li> So Sánh</a>
                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
</div>



<script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>


<style type="text/css">
    .small-dialog, .small-dialog1, .small-dialog2 {
        background: transparent;
        padding: 0;
        text-align: left;
        max-width: 650px;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }

    .small-dialog-it, .small-dialog-in, .small-dialog-fr, .small-dialog-sh, .small-dialog-sf, .small-dialog-su, .small-dialog-me, .small-dialog-ch, .small-dialog-pi, .small-dialog-am {
        background: white;
        padding: 0px;
        text-align: left;
        max-width: 450px;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }

    a.play-icon.popup-with-zoom-anim img:hover {
        opacity: 0.5;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .portfolio-items {
        text-align: center;
        margin: 0 auto;
    }

        .portfolio-items img {
            width: 100%;
        }

        .portfolio-items h4 {
            margin: 1em 0;
            font-size: 25px;
            color: #a63d56;
        }

        .portfolio-items p {
            text-align: justify;
        }
</style>


<script>
    $(document).ready(function () {
        $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>


<style type="text/css">
    .small-dialog, .small-dialog1, .small-dialog2 {
        background: transparent;
        padding: 0;
        text-align: left;
        max-width: 650px;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }

    .small-dialog-it, .small-dialog-in, .small-dialog-fr, .small-dialog-sh, .small-dialog-sf, .small-dialog-su, .small-dialog-me, .small-dialog-ch, .small-dialog-pi, .small-dialog-am {
        background: white;
        padding: 0px;
        text-align: left;
        max-width: 450px;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }

    a.play-icon.popup-with-zoom-anim img:hover {
        opacity: 0.5;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

    .portfolio-items {
        text-align: center;
        margin: 0 auto;
    }

        .portfolio-items img {
            width: 100%;
        }

        .portfolio-items h4 {
            margin: 1em 0;
            font-size: 25px;
            color: #a63d56;
        }

        .portfolio-items p {
            text-align: justify;
        }
</style>
