@model LuanVan.Models.NHASANXUAT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn thật sự muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NSX_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX_SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX_SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX_QUOCGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX_QUOCGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX_GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX_GHICHU)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-success" /> |
        @Html.ActionLink("Về trang danh sách", "Index")
    </div>
    }
</div>
