@model LuanVan.Models.HINHTHUCTHANHTOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HINHTHUCTHANHTOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HTTT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTTT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HTTT_MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HTTT_MOTA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HTTT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
