@model IEnumerable<LuanVan.Models.HINHTHUCTHANHTOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    <button class="btn btn-light"> @Html.ActionLink("Tạo mới", "Create")</button>
</p>
<table class="table" border="1">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.HTTT_TEN)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.HTTT_MOTA)
        </th >
        <th class="text-center">Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.HTTT_TEN)
        </td>
        <td class="text-left">
            @Html.DisplayFor(modelItem => item.HTTT_MOTA)
        </td>
        <td class="text-center">
            <button class="btn btn-success"style="width:80px"><i class="fa fa-edit">@Html.ActionLink("Sửa", "Edit", new { id = item.HTTT_ID })</i> </button>
            <button class="btn btn-info"style="width:80px"><i class="fa fa-book"> @Html.ActionLink("Chi tiết", "Details", new { id = item.HTTT_ID })</i></button>
            <button class="btn btn-warning"style="width:80px"><i class="fa fa-trash"> @Html.ActionLink("Xóa", "Delete", new { id = item.HTTT_ID })</i></button>
        </td>
    </tr>
}

</table>
