@model IEnumerable<LuanVan.Models.KHUYENMAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khuyến mãi</h2>

@using (Html.BeginForm("Index", "KhuyenMais", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    @Html.ActionLink("Thêm khuyến mãi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KM_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM_NGAYBATDAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM_GIATRI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM_NGAYKETTHUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM_MOTA)
        </th>
        <th>Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KM_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM_NGAYBATDAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM_GIATRI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM_NGAYKETTHUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM_MOTA)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.KM_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.KM_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.KM_ID })
            </td>
        </tr>
    }

</table>
