@model LuanVan.Models.NHANVIEN

@{
    ViewBag.Title = "LoginNV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Nhân Viên Đăng Nhập</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NV_TAIKHOAN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field Tài khoản must be a string with a maximum length of 16." data-val-length-max="16" id="NVTK" name="NVTK" type="text" value="" />
            @Html.ValidationMessageFor(model => model.NV_TAIKHOAN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NV_MATKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control text-box single-line password" data-val="true" data-val-length="The field Mật khẩu must be a string with a maximum length of 200." data-val-length-max="200" id="NVMK" name="NVMK" type="password" value="" />

            @Html.ValidationMessageFor(model => model.NV_MATKHAU, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăngg nhập" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
