@model LuanVan.Models.KHACHHANG

@{
    ViewBag.Title = "EditKH";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}
<script language="javascript">
    angular.module('myapp', [])
        .controller('DateController', ['$scope', function ($scope) {
            $scope.value = new Date("@Model.KH_NGAYSINH");
        }]);

</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" ng-app="myapp">
    <h4>Khách hàng</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.KH_ID)
    @Html.HiddenFor(model => model.KH_TAIKHOAN)
    @Html.HiddenFor(model => model.KH_MATKHAU)
    @Html.HiddenFor(model => model.KH_EMAIL)

    <div class="form-group">
        @Html.LabelFor(model => model.KH_TEN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KH_TEN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KH_TEN, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.KH_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KH_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KH_EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.KH_SDT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KH_SDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KH_SDT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KH_DIACHI, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KH_DIACHI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KH_DIACHI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" name="myForm" ng-controller="DateController">
        @Html.LabelFor(model => model.KH_NGAYSINH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="KH_NGAYSINH" ng-model="value" id="KH_NGAYSINH" class="form-control" />
            @Html.ValidationMessageFor(model => model.KH_NGAYSINH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KH_GIOITINH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KH_GIOITINH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KH_GIOITINH, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.KH_TAIKHOAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KH_TAIKHOAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KH_TAIKHOAN, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.KH_MATKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.KH_MATKHAU, new { htmlAttributes = new { @class = "form-control" } })*@
            <a href="~/KhachHangs/EditPass"><input type="button" class="btn btn-success" value="Đổi mật khẩu" /></a>
            @Html.ValidationMessageFor(model => model.KH_MATKHAU, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về trang danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
