@model LuanVan.Models.KHACHHANG

@{
    ViewBag.Title = "EditPass";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<h2>Đổi mật khẩu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.KH_MATKHAU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field KH_MATKHAU must be a string with a maximum length of 200." data-val-length-max="200" id="KH_MATKHAU" name="KH_MATKHAU" type="text" value="" />
            @Html.ValidationMessageFor(model => model.KH_MATKHAU, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">Mật khẩu xác nhận</label>

        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field KH_MATKHAU must be a string with a maximum length of 200." data-val-length-max="200" id="KH_MATKHAU1" name="KH_MATKHAU1" type="text" value="" />
            @Html.ValidationMessage("KH_MATKHAU1", "", new { @class = "text-danger" })
        </div>
    </div>
    <span id="Viewinfo"></span>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="btnsubmit" value="Xác nhận" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Về trang thông tin", "IndexKH")
</div>


<script type="text/javascript">
    var MK = document.getElementById("KH_MATKHAU")
    var MK1 = document.getElementById("KH_MATKHAU1")
    
    $('#btnsubmit').click(function () {
        $.ajax({
            type: "GET",
            url: '/KhachHangs/TKEditPass/',
            data: { 'id': MK.value, 'id1': MK1.value },
            success: function (result) {
                $('#Viewinfo').html(result)
            }
        })
    })
   
</script>