@model IEnumerable<LuanVan.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Thêm khách hàng mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KH_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KH_TAIKHOAN)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.KH_MATKHAU)
        </th>*@
        <th>Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KH_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_GIOITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KH_TAIKHOAN)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.KH_MATKHAU)
        </td>*@
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.KH_ID }) |
            @*@Html.ActionLink("Chi tiết", "Details", new { id=item.KH_ID }) |*@
            @Html.ActionLink("Xóa", "Delete", new { id=item.KH_ID })
        </td>
    </tr>
}

</table>
