@model IEnumerable<LuanVan.Models.PHIEUNHAPSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách phiếu nhập</h2>

<p>
    @Html.ActionLink("Thêm phiếu nhập", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.NCC_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.NV_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PN_NGAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PN_GHICHU)
        </th>
        <th>Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NHACUNGCAP.NCC_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.NV_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PN_NGAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PN_GHICHU)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.PN_ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.PN_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.PN_ID })
        </td>
    </tr>
}

</table>
