@model IPagedList<LuanVan.Models.NHANVIEN>

@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên</h2>

@using (Html.BeginForm("Index", "NhanViens", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    @Html.ActionLink("Thêm nhân viên", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Quyền nhân viên")
        </th>
        <th>
            @Html.DisplayName("Tên nhân viên")
        </th>
        <th>
            @Html.DisplayName("Ngày Sinh")
        </th>
        <th>
            @Html.DisplayName("Quê quán")
        </th>
        <th>
            @Html.DisplayName("Địa chỉ")
        </th>
        <th>
            @Html.DisplayName("Giới tính")
        </th>
        <th>
            @Html.DisplayName("Ngày ký hợp đồng")
        </th>
        <th>
            @Html.DisplayName("Thời hạn")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Mật khẩu")
        </th>
        <th>
            @Html.DisplayName("Tài khoản")
        </th>
        <th>Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LOAINV.LNV_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_NGAYSINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_QUEQUAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_GIOITINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_NGAYKYHOPDONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_NGAYKETTHUCHOPDONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_EMAIL)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.NV_MATKHAU)*@@Html.DisplayName("Ẩn")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NV_TAIKHOAN)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.NV_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.NV_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.NV_ID })
            </td>
        </tr>
    }

</table>
<div class="col-md-12 text-center">
    @Html.PagedListPager(Model, sotrang => Url.Action("Index", new { page = sotrang }))
</div>