@model IEnumerable<LuanVan.Models.TRANGTHAIDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Thêm trạng thái mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TTDH_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TTDH_MOTA)
        </th>
        <th>Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TTDH_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TTDH_MOTA)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.TTDH_ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.TTDH_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.TTDH_ID })
        </td>
    </tr>
}

</table>
