@model IEnumerable<LuanVan.Models.TRANGTHAIDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TTDH_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TTDH_MOTA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TTDH_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TTDH_MOTA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TTDH_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TTDH_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TTDH_ID })
        </td>
    </tr>
}

</table>
