<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSS Shop Smart-Phone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <Script src="~/Scripts/angular.js"></Script>
    <Script src="~/Scripts/bootstrap.min.js"></Script>

    <script src="@Url.Content("~/Content/js/jquery-1.11.3.min.js")"></script>
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top" id="menu"  style="background-color: #e4cd19">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SSS Shop", "Index", "SanPhams", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" >

                @if (Session["NV_ID"] != null)
                {
                <ul class="nav navbar-nav">
                   
                    @if (Convert.ToInt32(Session["LNV_ID"]) == 1)
                    {

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quản lý<span class="caret"></span></a>
                        <ul class="dropdown-menu nav" role="menu">
                            <li>@Html.ActionLink("Chi Tiết sản phẩm", "", "Chitietsanphams")</li>
                            <li>@Html.ActionLink("Nhập hàng", "", "PhieuNhapSps")</li>
                            <li>@Html.ActionLink("Khuyến mãi", "", "KhuyenMais")</li>
                            <li>@Html.ActionLink("Nhân viên", "", "NhanViens")</li>
                            <li>@Html.ActionLink("Nhà cung cấp", "", "NhaCungCaps")</li>
                            <li>@Html.ActionLink("Nhà sản xuất", "", "NhaSanXuats")</li>
                            <li>@Html.ActionLink("Giá sản phẩm", "", "GiaSPs")</li>
                            <li>@Html.ActionLink("Dòng sản phẩm", "", "DongSanPhams")</li>
                            <li>@Html.ActionLink("Nhóm sản phẩm", "", "NhomSanPhams")</li>
                            <li>@Html.ActionLink("Hình ảnh", "", "HinhAnhSPs")</li>
                            <li>@Html.ActionLink("Thống kê nhập", "ThongKeNhap", "ThongKe")</li>
                            <li>@Html.ActionLink("Thống kê bán", "ThongKeBan", "ThongKe")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thống kê<span class="caret"></span></a>
                        <ul class="dropdown-menu nav" role="menu">
                          
                            <li>@Html.ActionLink("Thống kê bán theo NSX", "ThongKeBanTheoNSX", "ThongKe")</li>
                            <li>@Html.ActionLink("Thống kê nhập theo NSX", "ThongKetheoNhapNSX", "ThongKe")</li>
                            <li>@Html.ActionLink("Biểu đồ nhập", "ThongKeNhap", "ThongKe")</li>
                            <li>@Html.ActionLink("Biều đồ bán", "ThongKeBan", "ThongKe")</li>

                        </ul>
                    </li>
                    }
                    <li>@Html.ActionLink("Đơn Hàng", "", "DonHangs")</li>
                    <li>@Html.ActionLink("Khách hàng", "", "KhachHangs")</li>
                    <li>@Html.ActionLink("Sản phẩm", "", "SanPhams")</li>
                    <li>@Html.ActionLink("Bảo hành", "", "ChiTietBHs")</li>
                </ul>

                }

                <ul class="navbar-right nav navbar-nav">
                    @if (Session["NV_ID"] != null)
                    {
                        <li>@Html.ActionLink("Đăng xuất", "LoginNV", "Logins")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng nhập", "LoginNV", "Logins")</li>
                    }
                </ul>





            </div>
        </div>
    </div>
    @*<marquee direction="right" style="background:orange" id="little"><h2>SSS - Shop</h2></marquee>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p class="col-md-12">&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
