@model LuanVan.Models.TRANGTHAIBH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>trạng thái bảo hành</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TTBH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTBH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTBH_MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTBH_MOTA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.TTBH_ID }) |
    @Html.ActionLink("Về trang danh sách", "Index")
</p>
