@model IEnumerable<LuanVan.Models.TRANGTHAIBH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TTBH_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TTBH_MOTA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TTBH_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TTBH_MOTA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TTBH_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TTBH_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TTBH_ID })
        </td>
    </tr>
}

</table>
