@model LuanVan.Models.CHITIETSANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>
<marquee font-size="20" style="border:blue 2px SOLID"><h2>Chi tiết sản phẩm </h2></marquee>
<div>
    <hr />
    <dl class="dl-horizontal col-md-8">
        <dt>
            @Html.DisplayNameFor(model => model.CTSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_TEN)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CTSP_CNMANGHINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_CNMANGHINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_DOPHANGIAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_DOPHANGIAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_MANHINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_MANHINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_CAMERATRUOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_CAMERATRUOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_CAMERASAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_CAMERASAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_HEDIEUHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_HEDIEUHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_RAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_ROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_ROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_DUNGLUONGPIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_DUNGLUONGPIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_SOSIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_SOSIM)
        </dd>

    </dl>
    <dl class="col-md-4">
        <dt>
            @Html.DisplayName("Hình ảnh")
        </dt>
        <dd>
            <asp:Repeater runat="server" id="myRepeater">
                <ItemTemplate>
                    <img src="/HinhAnhSPs/getImage/@Model.CTSP_ID" class="card-img-right flex-auto d-none d-lg-block" alt="Card image ca" width="200" height="200" style="float:left" />
                </ItemTemplate>
            </asp:Repeater>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CTSP_ID }) |
    @Html.ActionLink("Về trang danh sách", "Index")
</p>
