@model LuanVan.Models.CHITIETSANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.CTSP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_ID)
        </dd>
            <dt>
            @Html.DisplayNameFor(model => model.SP_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SP_ID)
        </dd>
         
        <dt>
            @Html.DisplayNameFor(model => model.CTSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTSP_TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTSP_TRANGTHAI)
        </dd>

    </dl>
</div>
