@model IEnumerable<LuanVan.Models.CHITIETSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

@using (Html.BeginForm("Index", "ChiTietSanPhams", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    @Html.ActionLink("Thêm chi tiết", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_CNMANGHINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_DOPHANGIAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_MANHINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_CAMERATRUOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_CAMERASAU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_HEDIEUHANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_ROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_DUNGLUONGPIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTSP_SOSIM)
        </th><th>
            @Html.DisplayNameFor(model => model.CTSP_NGAYTAO)
        </th>
        <th>Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_CNMANGHINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_DOPHANGIAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_MANHINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_CAMERATRUOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_CAMERASAU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_HEDIEUHANH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_ROM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_DUNGLUONGPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_SOSIM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTSP_NGAYTAO)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.CTSP_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.CTSP_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.CTSP_ID })
            </td>
        </tr>
    }

</table>
