@model IEnumerable<LuanVan.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DONHANG.KH_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.SP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTDH_DIACHIGIAO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DONHANG.KH_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.SP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTDH_DIACHIGIAO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CTDH_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CTDH_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CTDH_ID })
        </td>
    </tr>
}

</table>
