@model IEnumerable<LuanVan.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "ChiTietDonHangs", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    <button class="btn btn-light"> @Html.ActionLink("Tạo mới", "Create")</button>
</p>
<table class="table" border="1">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.DONHANG.KH_ID)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.SANPHAM.SP_TEN)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.CTDH_DIACHIGIAO)
        </th>
         <th class="text-center">
            @Html.DisplayNameFor(model => model.CTDH_MATHE)
        </th>
         <th class="text-center">
            @Html.DisplayNameFor(model => model.CTDH_CHUTHE)
        </th>
         <th class="text-center">
            @Html.DisplayNameFor(model => model.CTDH_NGAYCAP)
        </th>
        <th class="text-center">tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.DONHANG.KH_ID)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.SANPHAM.SP_TEN)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.CTDH_DIACHIGIAO)
            </td>
             <td class="text-center">
                @Html.DisplayFor(modelItem => item.CTDH_MATHE)
            </td>
             <td class="text-left">
                @Html.DisplayFor(modelItem => item.CTDH_CHUTHE)
            </td>
             <td class="text-right">
                @Html.DisplayFor(modelItem => item.CTDH_NGAYCAP)
            </td>
             <td>
                 <button class="btn btn-success"style="width:80px"><i class="fa fa-edit">@Html.ActionLink("Sửa", "Edit", new { id = item.CTDH_ID })</i> </button>
                 <button class="btn btn-info"style="width:80px"><i class="fa fa-book">@Html.ActionLink("Chi tiết", "Details", new { id = item.CTDH_ID })</i> </button>
                 <button class="btn btn-warning"style="width:80px"><i class="fa fa-trash">@Html.ActionLink("Xóa", "Delete", new { id = item.CTDH_ID })</i></button>
             </td>
        </tr>
    }

</table>
