@model LuanVan.Models.DONHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn thật sự muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HINHTHUCTHANHTOAN.HTTT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTHUCTHANHTOAN.HTTT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.KH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.KH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAIDONHANG.TTDH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAIDONHANG.TTDH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DN_NGALAPDON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DN_NGALAPDON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DN_GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DN_GHICHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DN_SL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DN_SL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Về trang danh sách", "Index")
    </div>
    }
</div>
