@model LuanVan.Models.CHITIETBH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Chi tiết bảo hành</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BAOHANH.BH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOHANH.BH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAIBH.TTBH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAIBH.TTBH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTBH_NGAYBH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTBH_NGAYBH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTBH_NGAYTRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTBH_NGAYTRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTBH_GHICHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTBH_GHICHU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CTBH_ID }) |
    @Html.ActionLink("Về trang danh sách", "Index")
</p>
