@model LuanVan.Models.HINHANHSP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn thật sự muốn xóa ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HA_ND)
        </dt>

        <dd>
            <asp:Repeater runat="server" id="myRepeater">
                <ItemTemplate>
                    <img src="/HINHANHSPs/getImageHA/@item.HA_ID" alt="" width="300" height="300" style="float:left" />
                </ItemTemplate>
            </asp:Repeater>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Về trang danh sách", "Index")
    </div>
    }
</div>
