@model LuanVan.Models.HINHANHSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HINHANHSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HA_ND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HA_ND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HA_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
