@model IEnumerable<LuanVan.Models.HINHANHSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

@using (Html.BeginForm("Index", "HinhAnhSPs", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form", onsubmit = "return empty();" }))
{
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success hidden-xs">Tìm</button>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HA_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HA_ND)
        </th>
        <th>tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HA_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CHITIETSANPHAM.CTSP_TEN)
            </td>
            <td>
                <asp:Repeater runat="server" id="myRepeater">
                    <ItemTemplate>
                        <img src="/HINHANHSPs/getImageHA/@item.HA_ID" alt="" width="300" height="300" style="float:left" />
                    </ItemTemplate>
                </asp:Repeater>
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.HA_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.HA_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.HA_ID })
            </td>
        </tr>
    }

</table>
