@model LuanVan.Models.BINHLUANCTSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutKHAjaxy.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BINHLUANCTSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETSANPHAM.CTSP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.KH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.KH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.NV_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.NV_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BL_ND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BL_ND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BL_THOIGIAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BL_THOIGIAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BL_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
