@model List<LuanVan.Models.CartItem>
@using LuanVan.Models;
@{
    DataContext db = new DataContext();
    ViewBag.Title = "Giỏ hàng của bạn";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<div class="form-horizontal">


    <div class="container" style="min-height:500px">
        <h2>@ViewBag.Title</h2>



        @if (Model == null || Model.Count == 0)
        {
            <p class="text-info text-center">
                Giỏ hàng của bạn rỗng!
                <a href="~/Home"><input type="button" value="Xem Sản phẩm" class="btn btn-info" /></a>
            </p>
        }
        else
        {
            <div class="row">
                <a href="~/Home"><input type="button" value="Xem Sản phẩm" class="btn btn-info" /></a>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered  table-striped  table-hover table-condensed">
                            <tr>
                                <th>Hình</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Thành tiền</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <asp:Repeater runat="server" id="myRepeater">
                                            <ItemTemplate>
                                                <img src="/HinhAnhSPs/getImage/@item.SP_ID" class="card-img-right flex-auto d-none d-lg-block" alt="Card image nothing" width="70" height="60" style="float:left" />
                                            </ItemTemplate>
                                        </asp:Repeater>
                                    </td>
                                    @{
                                        var max = (from p in db.CHITIETSANPHAMs where p.SP_ID == item.SP_ID && p.CTSP_TRANGTHAI == 1 select p);
                                    }
                                    <td><a target="_blank" href="@Url.Action("Details", "SanPhams", new { id = item.SanPhamID })"> @item.TenSanPham </a> </td>
                                    <td>
                                        <form action="@Url.Action("SuaSoLuong")" method="get">
                                            <input type="hidden" name="SanPhamID" id="SanPhamID" value="@item.SanPhamID" />
                                            <input type="number" min="1" step="1" max="@max.Count()" oninvalid="this.setCustomValidity('Sản phẩm chỉ còn @max.Count()')" oninput="setCustomValidity('')" name="soluongmoi" value="@item.SoLuong"  />
                                            <button type="submit" class="btn btn-primary btn-sm"> Cập nhật </button>
                                        </form>
                                    </td>
                                    <td> @item.DonGia.ToString("#,##0").Replace(',', '.') VNĐ </td>

                                    <td> @item.ThanhTien.ToString("#,##0").Replace(',', '.') VNĐ </td>

                                    <td> <a href="@Url.Action("XoaKhoiGio", new { SanPhamID = item.SanPhamID })" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a> </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td class="text-right">Tổng số lượng:</td>
                                <td><input type="text" name="TXTSL" disabled value="@Model.Sum(m => m.SoLuong)" id="TXTSL" /> </td>
                                <td class="text-right">Tổng thành tiền:</td>

                                <td>@Model.Sum(m => m.ThanhTien).ToString("#,##0").Replace(',', '.') VNĐ </td>

                            </tr>
                            <tr></tr>
                        </table>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="HTTT_ID">Hình thức thanh toán</label>
                                    <div class="col-md-5">
                                        @Html.DropDownList("HTTT_ID", null, htmlAttributes: new { @class = "form-control" })
                                        <span class="field-validation-valid text-danger" data-valmsg-for="HTTT_ID" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                @if (Session["KH_ID"] == null)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="DN_SDT">Số điện thoại</label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line"  data-val="true" data-val-length="The field DN_SDT must be a string with a maximum length of 20." data-val-length-max="20" id="DN_SDT" name="DN_SDT" type="text" value="@ViewBag.sdt" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DN_SDT" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="DN_SDT">Email</label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line" data-val="true" data-val-length="The field DN_SDT must be a string with a maximum length of 20." data-val-length-max="20" id="DN_EMAIL" name="DN_EMAIL" type="text" value="@ViewBag.email" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DN_SDT" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                }
                                else
                                { <div class="form-group">
                                        <label class="control-label col-md-2" for="DN_SDT">Số điện thoại</label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line" data-val="true" data-val-length="The field DN_SDT must be a string with a maximum length of 20." data-val-length-max="20" id="DN_SDT" name="DN_SDT" type="text" value="@Session["KH_SDT"]" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DN_SDT" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="DN_SDT">Email</label>
                                        <div class="col-md-5">
                                            <input class="form-control text-box single-line" data-val="true" data-val-length="The field DN_EMAIL must be a string with a maximum length of 20." data-val-length-max="20" id="DN_EMAIL" name="DN_EMAIL" type="email" value="@Session["KH_EMAIL"]" />
                                            <span class="field-validation-valid text-danger" data-valmsg-for="DN_EMAIL" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                }

                                <div class="form-group" id="mathe" hidden>
                                    <label class="control-label col-md-2" for="CTDH_MATHE">Mã thẻ</label>
                                    <div class="col-md-5">
                                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field must be a string with a maximum length of 20." data-val-length-max="20" id="DN_MATHE" name="DN_MATHE" type="number" min="0" value="" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="CTDH_MATHE" data-valmsg-replace="true"></span>

                                    </div>

                                </div>
                                <div class="form-group" id="chuthe" hidden>
                                    <label class="control-label col-md-2" for="CTDH_HOTEN">Họ tên chủ thẻ</label>
                                    <div class="col-md-5">
                                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field must be a string with a maximum length of 50." data-val-length-max="50" id="DN_CHUTHE" name="DN_CHUTHE" type="text" value="" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="DN_CHUTHE" data-valmsg-replace="true"></span>

                                    </div>

                                </div>
                                <div class="form-group" id="ngaycap" hidden>
                                    <label class="control-label col-md-2" for="DN_NGAYCAP">Ngày cấp</label>
                                    <div class="col-md-5">
                                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field must be a string with a maximum length of 10." data-val-length-max="10" id="DN_NGAYCAP" name="DN_NGAYCAP" type="text" value="" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="DN_NGAYCAP" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="DN_DIACHI">Địa chỉ giao hàng</label>
                                    <div class="col-md-5">

                                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field DN_DIACHI must be a string with a maximum length of 200." data-val-length-max="200" id="DN_DIACHI" name="DN_DIACHI" type="text" value="@Session["KH_DIACHI"]" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="DN_DIACHI" data-valmsg-replace="true"></span>
                                        <br />
                                        <input type="submit" value="Xác nhận" id="btnsubmit" class="form-control btn-success" />

                                    </div>

                                </div>
                            </div>
                        }
                        <div id="ViewDH"></div>
                    </div>

                </div>

            </div>
        }
    </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {

        var HTTT = document.getElementById("HTTT_ID")
        if (document.getElementById("HTTT_ID") == 1) {
            alert("Hệ thống vẩn trong giai đoạn phát triển ")
        }
        $("#HTTT_ID").change(function () {
            if (HTTT.value == 1) {
                $("#mathe").show()
                $("#chuthe").show()
                $("#ngaycap").show()
            }
            else {
                $("#mathe").hide()
                $("#chuthe").hide()
                $("#ngaycap").hide()
            }
        })
    })

</script>
<script type="text/javascript">

        //    var HTTT_ID = document.getElementById("HTTT_ID")
        //    var CTDH_DIACHIGIAO = document.getElementById("CTDH_DIACHIGIAO")
        //    var DN_SDT = document.getElementById("DN_SDT")
        //    var SL = document.getElementById("TXTSL")
        //    var idkh = document.getElementById("idkh")
        //    $("#btnsubmit").click(function () {
        //        /**/

        //        $.ajax({
        //            type: "GET",
        //            url: "/DonHangs/CreateDH/",
        //            data: { 'id1': HTTT_ID.value, 'id2': SL.value, 'id3': CTDH_DIACHIGIAO.value, 'id4': DN_SDT.value },
        //            success: function (result) {
        //                $("#ViewDH").html(result)
        //            }
        //        })

        //    })
        ///**/
        if (@Session["muathanhcong"] != null) {
            confirm("Đã mua thành công !");
        }



</script>
