@model LuanVan.Models.HINHANHKM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HINHANHKM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KHUYENMAI.KM_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHUYENMAI.KM_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HAKM_ND)
        </dt>

        <dd>
            <asp:Repeater runat="server" id="myRepeater">
                <ItemTemplate>
                    <img src="/HINHANHKMs/getImageHA/@Model.KM_ID" alt="" width="600" height="300" style="float:left" />
                </ItemTemplate>
            </asp:Repeater>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.HAKM_ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
