@model IEnumerable<LuanVan.Models.HINHANHKM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KHUYENMAI.KM_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HAKM_ND)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KHUYENMAI.KM_TEN)
        </td>
        <td>
            <asp:Repeater runat="server" id="myRepeater">
                <ItemTemplate>
                    <img src="/HINHANHKMs/getImageHA/@item.KM_ID" alt="" width="600" height="300" style="float:left" />
                </ItemTemplate>
            </asp:Repeater>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HAKM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HAKM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HAKM_ID })
        </td>
    </tr>
}

</table>
