@model IEnumerable<LuanVan.Models.CHITIETNHAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo phiếu mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUNHAPSP.NV_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SANPHAM.SP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTN_GIA)
        </th>
        <th>Tùy chọn</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEUNHAPSP.NV_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SANPHAM.SP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTN_GIA)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.CTN_ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.CTN_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.CTN_ID })
        </td>
    </tr>
}

</table>
