@model IEnumerable<LuanVan.Models.NHOMSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NSP_TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSP_MOTA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NSP_TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSP_MOTA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NSP_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NSP_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NSP_ID })
        </td>
    </tr>
}

</table>
