@model LuanVan.Models.GIASP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language="javascript">
    angular.module('myapp', [])
        .controller('DateController', ['$scope', function ($scope) {
            $scope.value = new Date();
        }]);

</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" ng-app="myapp">
        <h4>Thêm giá sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GIA_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIA_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIA_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIA_GIA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIA_GIA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIA_GIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" name="myForm" ng-controller="DateController">
            @Html.LabelFor(model => model.GIA_NGAYCAPNHAT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="GIA_NGAYCAPNHAT" ng-model="value" id="GIA_NGAYCAPNHAT" class="form-control" />
                @Html.ValidationMessageFor(model => model.GIA_NGAYCAPNHAT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Về trang danh sách", "Index")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
