@model LuanVan.Models.GIASP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Giá sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GIA_GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA_GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA_NGAYCAPNHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA_NGAYCAPNHAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.GIA_ID }) |
    @Html.ActionLink("Về trang danh sách", "Index")
</p>
